# Configuration du Jumeau Numérique

# Clé API OpenWeatherMap (Recommandé pour avoir la météo réelle)
OPENWEATHER_API_KEY=votre_cle_ici

# Configuration InfluxDB (Gardez ces valeurs par défaut pour Docker)
INFLUXDB_URL=http://influxdb:8086
INFLUXDB_TOKEN=my-super-secret-auth-token
INFLUXDB_ORG=my-org
INFLUXDB_BUCKET=jumeau_bucket

# Broker MQTT
MQTT_BROKER=mosquitto
